.input-group button {
    padding: 10px;
    height: auto;
    max-height: 44px;
    border: 1px solid var(--Light-Blue, #7BAAB7);
    border-left: 0;
    background: #F1F9FB;
    color: #7BAAB7;
    border-radius: 6px;
}

.input-group button:hover {
    background-color: var(--heading-color)
}
.input-group input {
    border-right: 0;
}

.form-control {
    background: #F1F9FB;
    border-radius: 6px;
    border: 1px solid var(--Light-Blue, #7BAAB7);
    margin-bottom: 34px;
    color: #7BAAB7;
    height: 44px;
}